@import "~bootstrap/scss/bootstrap.scss";
@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');

body{
    background: black;
}

.myListContainer{
    margin-top: 5rem!important;
    width: 42rem!important;
    background-color: rgba(14, 14, 13, 0.719);
}

.myContainer{
    width: 30rem!important;
}


h1{
    font-family: 'Fredericka the Great', cursive;
     color: rgba(227, 252, 1, 0.986);
}

input{
    background-color: rgba(165, 160, 160, 0.144);
    caret-color:rgba(227, 252, 1, 0.986);
    color: rgba(221, 219, 219, 0.945);
}

input:focus {
    outline: none !important;
    border:1px solid red;
    box-shadow: 0 0 10px rgb(233, 235, 136);
}

::placeholder, .taskNum, .taskTitle{
    color: rgba(221, 218, 218, 0.562);
}

hr{
    background-color: rgba(233, 236, 245, 0.603);
}

.myTask{
    color: rgba(242, 243, 247, 0.986);
}

.fa-trash-alt{
    color: rgba(247, 9, 9, 0.61);
    cursor: pointer;
}

.fa-trash-alt:hover{
    color: rgb(245, 29, 1);
}

.fa-check{
    color: rgba(53, 133, 7, 0.747);
    cursor: pointer;
}

.fa-check:hover{
    color: rgb(4, 248, 16);
}

.fa-times{
     color: rgba(146, 161, 12, 0.733);
    cursor: pointer;
}

.fa-times:hover{
     color: rgba(227, 252, 1, 0.986);
}